FED_CHIRP_HERMES_BIN=/Users/dima/.local/bin/hermes
FED_CHIRP_HERMES_PROVIDER=openai-codex
FED_CHIRP_HERMES_MODEL=gpt-5.5
FED_CHIRP_HERMES_TIMEOUT=300
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
GMAIL_SENDER=dstrunin@gmail.com
ALERT_RECIPIENT=dstrunin@gmail.com
